html {
    position: relative;
    min-height: 100%;
    margin: 0 0 81.5px;
}

body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: #222;
}

header {
    height: 85px;
    margin-top: 16px;
}

#navbar {
    text-align: right;
    margin-right: 22px;
}

#afbeeldingen {
    padding-left: 12px;
}

#apps {
    height: 26px;
    padding-right: 15px;
    vertical-align: middle;
    padding-left: 18px;
}

#inloggen {
    border: 1px solid #4285f4;
    font-weight: bold;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    color: #fff;
    background-image: linear-gradient(#4387fd,#4683ea);
}

#logo {
    padding-top: 97px;
    padding-bottom: 24px;
}

#searchform {
    background: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
    z-index: 3;
    height: 44px;
    width: 484px;
    font: 16px arial,sans-serif;
    padding: 5px 8px 0 16px;
}

#searchform:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.buttons {
    padding-top: 24px;
}

#submit1, #submit2 {
    background-image: linear-gradient(#f5f5f5,#f1f1f1);
    border-radius: 2px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding-left: 16px;
    padding-right: 16px;
    height: 36px;
}

#submit1:hover, #submit2:hover {
    border: 1px solid #c6c6c6;
    color: #222;
}

.otherlanguages {
    padding-top: 24px;
    font-size: small;
}

#fr, #de, #eng {
    padding-left: 15px;
    color: #1a0dab;
}

#fr:visited, #de:visited, #eng:visited {
    color: #609;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    color: rgba(0,0,0,.54);
}

#footertop {
    padding-left: 27px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
}

#adv, #bedr, #over, #priv, #vw, #ins {
    padding-left: 27px;
    color: rgba(0,0,0,.54);
}


#fbottomright {
    text-align: right;
    float: right;
    margin-right: 30px;
}

#priv:hover, #vw:hover, #ins:hover, #eng:hover, #fr:hover, #de:hover, #eng:hover, #adv:hover, #bedr:hover, #over:hover, #Gmail:hover, #afbeeldingen:hover {
    text-decoration: underline;
}